    /* -------------------- Polices --------------------*/

        /* Titre du site */
        @font-face {
            font-family: 'PhatRave';
            src: url('../vue/polices/PhatRave.ttf');
        }

        /* Menu du site */
        @font-face {
            font-family: 'Rumpelstiltskin';
            src: url('../vue/polices/Rumpelstiltskin.ttf');
        }

        /* Titre des articles */
        @font-face {
            font-family: 'Quick';
            src: url('../vue/polices/Quicksand_Bold.otf');
        }

        /* Corps des articles */
        @font-face {
            font-family: 'QuickBook';
            src: url('../vue/polices/Quicksand_Book.otf');
        }



    /* --------- Eléments principaux de la page --------- */

        /* Actualité de la page + bouton */
        body
        {
            font-family: 'Quick', Arial, sans-serif;/*Trebuchet MS*/
            margin: 0; /* Etend les fonds jusqu'au bout */
        }

        #fond
        {
            background: url(images/page.png) repeat;
        }
        /* Colonnes cotées vide */
        #bloc_page
        {
            width: 80%; /* +: plus large */
            margin: auto;
            z-index: -1;
            font-size: 0.9em;
            padding-top: 0em;
            padding-bottom: 1em;

        }

        /* Centrage des blocs de la page */
        .centrage
        {
            width: 80%;
            margin: auto;
        }

        /* Titre menu */
        nav a
        {
            font-family: "Rumpelstiltskin", sans-serif;
            font-color: red;
            font-weight: normal;
            text-transform: uppercase;
        }

    /* ---  ---------------- Header ------------------- */

        /* Fond du titre*/
        header
        {
            background: url(images/header.png) repeat;
        }

        /* Ecriture titre du site */
        header h1
        {
            color: rgb(55,10,0);
            font-family: 'PhatRave', serif;
            font-size: 3.5em;
            font-weight: normal;
            text-align: center;
            margin-left: 1%;
            margin-top: 60px;
            text-shadow: 0px 0px 0px #4CA66B;
        }

        #sous_titre
        {
            display: block;
            color: #173B0B;
            font-family: "Rumpelstiltskin", sans-serif;
            font-size: 1.8em;
            font-weight: normal;
            text-align: center;
            margin-bottom: 1%;
        }

        header h1 a
        {
            text-decoration: none;
            color: rgb(55,10,0);
        }

        #logo_titre
        {
            display: inline-block;
            margin-left: auto;
            margin-right: auto;
            width: 100%
        }

        #logo
        {
            /*display: inline-block;*/
            margin-left: 1%;
        }

        #logo, header h1
        {
            display: inline-block;
            margin-bottom: 20px;
        }

        #banniere 
        {
            z-index:-1;
            position: relative;
        }

        #image_message
        {
            display: inline-block;
            margin-left: 2em;
        }

        #image_logout
        {
            display: inline-block;
            margin-left: 2em;
        }

        #image_accueil
        {
            display: inline-block;
        }


    /* ------------- Menu déroulant -------------*/

        #conteneur_menu
        {
            display: inline-block;
            position: relative; 
            z-index:4;
        }

        #image_home
        {
            padding-top: 1%;
        }

        #menu
        {
            position: abolute;
        }

        #menu dl
        {
            width:160px;
            display: block;
            height:40px;
            margin: 0;
            display: block;
            float: left;
        }

        #menu dt
        {
            display: block;
            height:40px;
            line-height: 40px;
            text-align: center;
            cursor:pointer;
        }

        #menu dt :hover
        {
            color: #76001;
        }

        #menu dd
        {
            display:block;
            margin: 0px;
            padding: 0px;
            background: url('images/fond1.8.png') ;
            width: 160px;
            cursor:pointer;
        }

        #menu dd ul
        {
            margin: 0px;
            padding: 0px;
            text-align: center;
            list-style: none;
            cursor:pointer;
        }

        #menu dd ul li
        {
            display:block;
            border-bottom: solid #1c1000;
            color:black;
            height: 40px;
            line-height: 40px;
            cursor:pointer;
            overflow: visible;
        }

        #menu dd ul li:hover
        {
            width: 160px;
            background-color: orange;
            color: black;
        }


        #menu  dl dd
        {
            display:none;
        }


        #menu dl:hover dd
        {
            display: block;
            float: left;
        }

    /* --------- Image accueil --------- */

        #home_image
        {
            position: relative;
            display: inline-block;

        }

    /* --------- Informations --------- */

        .information
        {
            overflow: hidden;
            position: relative;
        }

        .information .boite
        {
            background: #B0CC99;
            border-radius: 5px;
            display: inline-block;
            width:20%;
            position:relative;
            float:left;
            margin-left: 3%;
            margin-top: 3%;
            margin-bottom: 3%; 
            height: 18em;
        }

        .information .titre
        {
            padding: 0.8em;
            background: #677E52;
            border-radius: 5px 5px 0px 0px;
            text-transform: none;
            font-size: 1.3em;
            font-family: 'Quick';  
            text-align: center;
            color: #D8D8D8; 
        }

        .information .contenu
        {
            padding: 0em 0.5em 0.0em 1.0em;
            position: relative;
            height: 7em;
            word-wrap: break-word;
            text-align: center;

        }

        .information .bouton a
        {
            display: inline-block;
            height: 3em;
            margin-top: 0.1em;
            padding: 0em 1.25em;
            border-radius: 0px 5px 0px 5px;
            line-height: 3em;
            text-decoration: none;
            font-size: 1em;
            color: #FFFFFF;
        }    

    /* ------------- Navigation -------------*/

        /* Barre de menus */
        nav
        {
            display: inline-block;
            width: 100%;
            text-align: center;
            background: #E6E296;
            border-radius: 2px;
            box-shadow: 0px 1px 1px #1c1a19;
            margin-bottom: 0px;
            z-index: 1;
        }

        /* Alignement (menus)*/
        nav li
        {
            display: inline-block;
            margin-right: 30px;
        }

        /* Ecriture menu + position surbrillance texte*/
        nav a
        {
            font-size: 1.3em;
            color: #2F332E;
            padding-bottom: 5px;
            padding-left: 1px;
            text-decoration: none;
        }

        /* Couleur + épaisseur surbrillance ligne */
        nav a:hover
        {
            color: #760001;
            border-bottom: 3px solid #760001;
        }

    /* ----------- Affichage Voir membre ----------- */   

    .bloc_membre_voir fieldset, .bloc_news fieldset
    {
        width: 80%;
        margin-left: 10em;
    }

    .bloc_membre_voir #bloc_login
    {
        color: red;
        width: 10%;
        text-align: center;
        padding-bottom: 0.5em;
        display: inline;
    }

    .bloc_membre_voir #bloc_name, .bloc_membre_voir #bloc_surname, .bloc_membre_voir #bloc_mail, .bloc_membre_voir #bloc_birth, .bloc_membre_voir #bloc_region
    {
        color: red;
        width: 10%;
        text-align: center;
        padding-bottom: 0.5em;
        display: inline;
        margin-left: 5em;
    }

    .bloc_membre_voir #bloc_phone
    {
        color: red;
        width: 10%;
        text-align: center;
        padding-bottom: 0.5em;
        display: inline;
        margin-left: 4em;
    }

    .bloc_membre_voir #bloc_rate
    {
        color: red;
        width: 10%;
        text-align: center;
        padding-bottom: 0.5em;
        display: inline;
        margin-left: 4em;
    }

    .bloc_membre_voir #bloc_region
    {
        color: red;
        width: 10%;
        text-align: center;
        padding-bottom: 0.5em;
        display: inline;
        margin-left: 3em;
    }

    .bloc_membre_voir #bloc_birth
    {
        color: red;
        width: 10%;
        text-align: center;
        padding-bottom: 0.5em;
        display: inline;
        margin-left: 7em;
    }

    .bloc_membre_voir .affichage_login
    {
        text-align: center;
        padding-bottom: 0.5em;
        display: inline-block;
        margin-top: 1em;
        width: 3em;
    }
 
    .bloc_membre_voir .affichage_name, .bloc_membre_voir .affichage_surname,  .bloc_membre_voir .affichage_birth,  .bloc_membre_voir .affichage_region, .bloc_membre_voir .affichage_phone, .bloc_membre_voir .affichage_rate
    {
        text-align: center;
        padding-bottom: 0.5em;
        display: inline-block;
        margin-top: 1em;
        margin-left: 5em;
        width: 3em;
    }

    .bloc_membre_voir .affichage_mail
    {
        text-align: center;
        padding-bottom: 0.5em;
        display: inline-block;
        margin-top: 1em;
        margin-left: 5em;
        width: 5em;
    }

    #membre_voir fieldset
    {
         width:78%;
        margin-top: 1em;
        margin-left: 10%;
    }

    .bloc_membre_voir
    {
        margin-left: 10%;
        margin-top: 1%
    }

    .ligne_voir
    {
        width: 89%; 
        border-bottom: 0.1em solid #808080; 
    }

    .bloc_titre
    {
        border-bottom: 0.1em solid #808080;
        border-top: 0.1em solid #808080; 
        padding-bottom: 1%;
        padding-top: 1%;
        width: 89%;
        margin-top: 2%;
    }

    .affichage_title
    {
        width: 3em;
    }

    #bloc_region_voir
    {
        color: red;
        width: 10%;
        text-align: center;
        padding-bottom: 0.5em;
        display: inline;
        margin-left: 5em;
    }

    #affichage_login_voir,  #affichage_mail_voir, #affichage_region_voir, #affichage_rate_voir
    {
        text-align: center;
        padding-bottom: 0.5em;
        display: inline;
        margin-top: 1em;
        margin-left: 5em;
        width: 3em;
    }
    /* ----------- Coté page profil ----------- */

        .cote
        {
            margin-right: 1em;
            margin-top: 1em;
            margin-bottom: 1em;
            overflow: hidden; /* comment afficher les barres de défilement */
            position: relative; /* permet de décaler l'élément par rapport à sa position normale. */
            left:10%;
            width: 20%;
            float:left;
            z-index:4;
        }

        .cote .box
        {
            display: block;
            position: relative;
            padding-bottom: 2em;
            padding-top: 0.5em;
            border-bottom: 0.1em solid #808080;
        }

        .cote .titre_list
        {
            font-size: 1.1em;
        }   

        .cote li
        {
            margin-bottom: 0.5em;
        }

        .cote a
        {
            text-decoration: none;
            color: black;
        }

        .cote .bouton:hover
        {
            text-decoration:underline;
            color: #008000;
        }

        #ajouter, #actualite_ajouter, #actualite_supprimer form, #membre_supprimer form
        {
            display: inline-block;
            margin-left: auto;
            margin-right: auto;
            position: relative;
            left: 10%;
            z-index:1;
            width: 50%;
        }


        #choisir
        {
            display: inline-block;
            margin-left: auto;
            margin-right: auto;
            position: relative;
            left: 10%;
            z-index:1;
        }

        #choisir fieldset
        {
            width:50%;
            margin-top: 1em;
        }

        .decalage
        {
            margin-left: 6%;
        }

    /* -----------  Connexion ----------- */
        #form_co
        {
            width: 40%;
            margin-left: 26%;
            margin-top: 1%;
        }

        #inscription a
        {
            margin-left: 32%;
            margin-top: 1%;
            font-size: 1.5em;
            text-decoration: none;
            color: #008000;
        }


    /* ----------- Mes messages ----------- */
        
        #message_envoyer
        {
            display: inline-block;
            margin-left: auto;
            margin-right: auto;
            position: relative;
            left: 10%;
            z-index:1;
            margin-top: 1%;
        }

        #option
        {
            display: inline-block;
            margin-left: auto;
            margin-right: auto;
            position: relative;
            left: 10%;
            z-index:1;   
        }


        #boite_reception
        {
            display: inline-block;
            width: 40%;
            margin-left: 10%;
        }

        #boite_reception .titre
        {
            display: inline-block;
            border-bottom: 0.1em solid #808080;
            width: 59%;
            padding-bottom: 1%;
            margin-left: 10%;
            margin-top: 1.5%;
        }

        #boite_reception .de
        {
            display: inline-block;

        }

        #boite_reception .date
        {
            display: inline-block;
            margin-left: 8em;
        }

        #boite_reception .contenu
        {
            display: inline-block;
            margin-left: 10em;
        }

        #boite_reception .data_red
        {
            display: block;
            margin-left: 31%;
            margin-top: 1%;
            width: 50%;
        }

        #boite_reception .data
        {
            display: block;
            margin-left: 31%;
            margin-top: 1%;
            opacity: 0.5;
        }

        #boite_reception .de2
        {
            display: inline-block;
            width: 2.5%;
        }

        #boite_reception .date2
        {
            display: inline-block;
            margin-left: 8em;

        }

        #boite_reception .contenu2
        {
            display: inline-block;
            margin-left: 6em;
        }


    /* ----------- Voir les actualités ----------- */
        #news_voir
        {
            width: 78%;
            margin-left: 10%;
            margin-top: 1%;

        }   

        .news_tete
        {
            border-bottom: 0.1em solid #808080;
            border-top: 0.1em solid #808080;
            padding-top: 1%;
            padding-bottom: 1%;
            color: red;
            margin-top: 1%;
            margin-bottom: 1%;
        }

        #news_voir .bloc_news
        {
            display: inline-block;
        }

        #news_voir .bloc_date
        {
            display: inline-block;
            margin-left: 10%;
        }

        #news_voir .bloc_contenu
        {
            display: inline-block;
            margin-left: 14%;
        }

        #news_voir .affichage_title
        {
            display: inline-block;
        }

        #news_voir .affichage_content
        {
            display: inline-block;
            margin-left: 3%;
        }

        #news_voir .affichage_date
        {
            display: inline-block;
            margin-left: 9%;
        }

        .news_affichage
        {
            border-bottom: 0.1em solid #808080;
            padding-bottom: 1%;
        }

	/*------------ CHAT -------------------------*/

	#chat
	{
		max-height : 1%;
		border:1px solid grey;
		width : 90%;
		background : #F5F5F5;	
		padding : 3px;
		margin-bottom : 10px;		
		font-style : none;
		font-weight: normal;
	}

	.pseudo_chat
	{
		font-size: 1.5em;
	}
	#saisie_chat textarea
	{	
		width : 90%;
	}


    /* ----------- Information profil ----------- */

        #profil_data
        {
            display: inline-block;
            width: 70%;
            padding-left: 1.5em;
        }

        #profil_data .titre
        {
            text-align: center;
            padding-bottom: 2em;
            font-size: 1.5em;
        }

        #profil_data .bloc
        {
            margin-left: 3%;
            border-top:1px solid grey;
            padding-top: 1em;
            position: relative;
            left: 10%;
            width: 80%;

        }

        #profil_data .donnee
        {
            margin-left: 10%;
        }
    /* ----------- Bannière ----------- */

        #banniere_image
        {
            margin-top: 15px;
            height: 120px;
            border-radius: 2px;
            background: url('images/bandeau.jpg') no-repeat;
            position: relative;
            box-shadow: 0px 1px 1px #1c1a19;
            margin-bottom: 25px;
        }

        #banniere_description
        {
            position: absolute;
            bottom: 0;
            border-radius: 0px 0px 5px 5px;
            width: 99.5%;
            height: 33px;
            padding-top: 15px;
            padding-left: 4px;
            /*background-color: rgb(24,24,24);  Pour les anciens navigateurs */
            background-color: rgba(68, 188, 44, 0.9);
            color: black;
            font-size: 0.9em;
        }

        .bouton_rouge
        {
            display: inline-block;
            height: 25px;
            position: absolute;
            right: 5px;
            bottom: 5px;
            background: url('images/fond_degraderouge.png') repeat-x;
            border: 1px solid #760001;
            border-radius: 2px;
            font-size: 1.2em;
            text-align: center;
            padding: 3px 8px 0px 8px;
            color: white;
            text-decoration: none;
        }

        .bouton_rouge img
        {
            border: 0;
        }

        /* Corps */
        .imageflottante
        {
            float: left;
        }
        .taillebarre{
            width: 50px;
        }

        /* Position, police article */
        article, article2, aside
        {
            margin-top: 60px;
            font-family: "QuickBook";
            font-size: 1.2em;
            display: inline-block;
            vertical-align: top;
            text-align: justify;
            margin: 2%;   
            border-radius: 2px;
            box-shadow: 0px 1px 1px #1c1a19;
            margin-bottom: 25px;
            padding-top: 10px;
            padding-right: 10px;
            padding-bottom: 10px;
            padding-left: 10px;
        }

        /* Taille, fond article */
        article
        {
            width: 73%;
            margin-right: 15px;
            background: url('images/fond1.8.png') ;
        }

        article2
        {
            width: 100%;
            margin-right: 15px;
            background: url('images/fond1.8.png') ;
        }

        article img
        {
            margin-left: 5px;
        }

        article2 img
        {
            margin-left: 5px;
        }

    .ico_categorie
    {
        vertical-align: middle;
        margin-right: 8px;
    }

    article p
    {
        font-size: 0.8em;
    }

    article2 p
    {
        font-size: 0.8em;
    }

    aside ul
    {
        list-style-type: none;
    }

    aside
    {
       position: relative;
        width: 12%;
        background-color: #706b64;
        box-shadow: 0px 1px 1px #1c1a19;
        border-radius: 2px;
        padding: 10px;
        color: white;
        font-size: 0.9em;
    }

    /*#fleche_bulle
    {
        position: absolute;
        top: 100px;
        left: -12px;

            <img src="images/bulle.png" alt="" id="fleche_bulle" />  A mettre dans aside
    }*/


    aside img
    {
        margin-left: 0px;
    }

    /* -------------------- Footer --------------------*/

        #footer
        {
            margin-top: 1em;
            background: url(images/header.png) repeat;
            display: block;
            float:none;
            clear:both; 
        }

        #footer-content
        {
            margin-left: auto;
            margin-right: auto;
            overflow: hidden;
            padding: 0em 0em 1em 0em;
            text-shadow: 1px 1px 0px #FFFFFF;
            color: #777777;
            width: 80%;
            margin
        }

        #footer-content h2
        {
            padding: 0.5em 0em 0em 0em;
            text-shadow: 1px 1px 0px #FFFFFF;
            text-transform: none;
            font-size: 1em;
            color: black;
        }

        #footer-content #box1
        {
            float: left;
            display: inline-block;
            width: 32%;
        }


        #footer-content #box1 #cadre-image
        {
            display: inline-block;
            width: 25%;

        }


        #footer-content #box1 #cadre-image #image-footer
        {
            width: 140%;
            height: 140%;
            margin-left: auto;
            margin-right: auto;	
        }

        #footer-content #box2
        {
            float: left;
            display: inline-block;
            width: 32%;
            overflow: hidden;
            margin-right: 2em;
            margin-left: 1%;
        }

        #footer-content #box2 a
        {
            text-decoration: none;
            color: black;
        }


        #footer-content #box3
        {
            float: right;
            display: inline-block;
            width: 32%;
        }

        #copyright
        {
            text-align: center;
            padding-bottom: 1em;
        }

        #cadre-copyright
        {
            border-top: 0.1em solid #808080 ;

        }

        #reseau
        {
            margin-left: 15%;
            margin-top: 15%;
        }

        #qui
        {
            margin-left: 5%;
        }
    /* --------------------  --------------------*/
    #Nos_Produits img
    {
        border: 1px solid #181818;
        margin-right: 2px;
    }
    #Imput_barre
    {
        text-align: center;
    }

    #bouton_valider
    {
            margin-left: 50 px;
    }

    #decalage
    {
        vertical-align: middle;
        margin-left: 5px;

    }
    .ajout_panier
    {
        text-align: left;
        vertical-align: bottom;
        height: 5px;
        width: 5px;
    }

    #bouton_panier,#bouton_supression
    {
       height: 40px;
        width: 40px; 
    }
    /* menu dérolant 

       ul.niveau1
      {display: none; 
        position: absolute; 
        left: 144px; 
        top: -1px; 
        margin:0px; 
        padding: 0px; 
        border: 1px solid grey;}

      li.menu_deroulant
      {list-style-type: none; 
        position: relative; 
        width: 140px; 
        background-color: #E0E0E0; 
        padding: 2px; 
        margin: 0px}

      li.menu_deroulant:hover {background-color: #FFFF70;}

      li.menu_deroulant:hover ul.niveau2, li.menu_deroulant li.menu_deroulant:hover ul.niveau3 
      {display: block}

      li.plus {background-position:right; background-image: url(illustrations/fdroite.gif); background-repeat: no-repeat; border-bottom: 1px solid grey;}
      */

      #tableau_echange{
        width: 30000px;
      }

    /* ----------- surlignage fonction de recherche ----------- */

    span.surlign2{
        font-style: italic;;
        background-color: #ffff00;
    }

    span.surlign4{
        font-style: italic;;
        background-color: #ff99ff;
    }

    span.surlign3{
        font-style: italic;;
        background-color: #ff9999;
    }

    span.surlign1{
        font-style: italic;;
        background-color: #9999ff;
    }


    form
    {
        margin-left:auto;
        margin-right:auto;
        padding: 30px 30px 20px 30px;
        color: #666;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        background: #F8F8F8;
        margin-top: 1%;
    }

    h4
    {
        font: 24px "Trebuchet MS", Arial, Helvetica, sans-serif;
        padding: 20px 0px 20px 40px;
        display: block;
        margin: -30px -30px 10px -30px;
        color: #FFF;
        background: #9DC45F;
        text-shadow: 1px 1px 1px #949494;
        border-radius: 5px 5px 0px 0px;
        -webkit-border-radius: 5px 5px 0px 0px;
        -moz-border-radius: 5px 5px 0px 0px;
        border-bottom:1px solid #89AF4C;
    }

    textarea, select
    {
        height: 30px;
        width: 100%;
        padding: 0px 0px 0px 10px;
        margin-top: 2px;
        border: 1px solid #E5E5E5;
        outline: 0;
        -webkit-box-shadow: inset 1px 1px 2px rgba(238, 238, 238, 0.2);
        box-shadow: inset 1px 1px 2px rgba(238, 238, 238, 0.2);
        font: normal 14px/14px Arial, Helvetica, sans-serif;
    }

    textarea
    {
        height:100px;
        padding-top: 10px;
    }

    input[type="submit"]
    {
        background-color: #9DC45F;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-border-radius: 5px;
        border: none;
        padding: 10px 25px 10px 25px;
        color: #FFF;
        text-shadow: 1px 1px 1px #949494;
    }

    input[type="submit"]:hover
    {
        background-color:#80A24A;
    }

    .centrage2
    {
        margin-left: 20%;
    }

    .centrage3
    {
        margin-left: 25%;
        width: 50%;
    }


    textarea
    {
        resize:none;
    }
    
   /*-------------------- Echange --------------------*/

	#bloc1
	{
		display: inline-block;
		float: left;
		width: 45%;
	}

	#bloc2
	{
		display: inline-block;
		float: right;
		width: 45%;
	}

	#affiche_echange
	{
        padding: 30px 30px 20px 30px;
        color: #666;
        border-radius: 5px;
        background: #F8F8F8;
		font-size: 1.2em;
		display: inline-block;
		width: 100%;
		margin-top: 5%;
	}
	
	#affiche_echange #bloc_echange .bloc_echange1 .bloc_echange2
	{
		width: 45%;
        display: inline-block;
		font-size: 5em;
	}

	#bloc_echange
	{
		margin-bottom: 5%;
        display: inline-block;
	}
	
	table
	{
		border-collapse: collapse;
    	width: 40%;
	}

	.bloc_echange1
	{
		float: left;
	}

	.bloc_echange2
	{
		float: right;
		
	}

	#bloc_commentaire
	{	
		width: 100%
		display: inline-block;
        border-top: 0.1em solid #808080 ;
	}
	
	 /*-------------- ECHANGE -----------------------*/
	#bloc_echange
        {
            width: 80%; /* +: plus large */
            margin-left: 10%	;
            z-index: -1;
            font-size: 0.9em;
            padding-top: 0em;
            padding-bottom: 1em;

        }

 	article3
        {
            width: 70%;
            margin-right: 15px;
            background: url('images/fond1.8.png');
        }
